body {
  padding: 0;
  margin: 0;
}

.app {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  position: relative;
  z-index: 1;
}

.global__title {
  color: #0a49af;
  font-weight: 300;
  font-size: 36px;
  margin: 0;
}


