.button{
    height:40px;
    font-size: 16px;
    border: none;
    background-color: #2AB7FD;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
}

.button:hover{
    transform-origin:top left;
    transform:scale(0.95);
    transition: all 0.2s;
    background-color: #0A49AF;
    padding: 12px 20px;
}