/* Button Globals */

.button {
  height: 40px;
  font-size: 16px;
  border: none;
  max-width: 400px;
  background-color: #2ab7fd;
  color: white;
  border-radius: 5px;
  padding: 12px 20px;
}

/* Button Pseudostates */

.button:hover {
  transform-origin: top left;
  transform: scale(0.95);
  transition: all 0.2s;
  background-color: #0a49af;
  padding: 12px 20px;
}

/* Button Media Breakpoints */

@media only screen and (max-width: 1120px){
  .button{
    width: 85vw;
  }
}